<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container">
            {% if page.hero_link %}
                <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
            {% endif %}
        </div>
        <div class="social">
            <a href="https://www.facebook.com/urticariacronicaportugal" target="_blank"><img src="assets/images/facebook-512.png" width=50 height=50></a>    
            <a href="https://www.instagram.com/umapeleparaavida" target="_blank"><img src="assets/images/instagram.png" width=50 height=50></a>    
            <a href="https://www.youtube.com/channel/UCY0T-w5KKGLatzQYgOJACBA" target="_blank"><img src="assets/images/youtube.png" width=50 height=50></a>    
        </div>
    </div>

</section>