div.highlight {
    margin-bottom: 1rem;
}

@include desktop {
    .navbar-item {
        &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}

.social { 
    position: absolute;
    margin-left: 85%; 
    margin-top: 5%;
}

.social img { 
    max-width:40%;
    height: auto;
}

.navbar-item{
    color: "white";
    font-size: 1.15em;
    font-weight: "bolder"
}

.navbar-link{
    border-color: "white"
}

.navbar.is-primary{
    background-color: #ED6809;
}

.contents {
    box-shadow: $box-shadow;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

.hero-darken {
    background-color: rgba($hero-darken, 0.5);
}

.hero-body{
    padding: 30rem 1.5rem;
}

.content {
    figure {
        margin: 0;
    }
}

.callout {
    &-icon {
        width: 4rem;
        height: 4rem;
        margin-bottom: 0.75rem;
    }
}

label.required::before {
    content:"*";
    color: red;
  }

.events{
    border-style: solid;
    border-width: 2px;
    border-radius: 0.5em;
    background-color: rgb(250, 231, 207);
    border: grey;
    margin-left: 80%;
    padding-inline-start: 1em
}

.main{
    width: 80%;
    float: left;
}

.main > img{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}